body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: 5px solid #e74c3c;
}

main {
    background-color: #ffffff;
    color: #34495e;
    padding: 25px;
    margin: 0 10px 15px 10px;
    border: 1px dashed #bdc3c7;
}

main section {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

main section:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #34495e;
    color: #bdc3c7;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    border-top: 5px solid #3498db;
}

/* Estilo para todas tags <h2> */
h2 {
    color: #2980b9; /* Cor azul que já existia */
    font-size: 24px; /* Aumenta tamanho da fonte */
    text-decoration: underline; /* Adiciona linha sob o texto */
    text-decoration-thickness: 2px; /* Deixa o sublinhado mais espesso */
}

header h1 {
    color: #ecf0f1;
}

.destaque {
    font-style: italic;
    background-color: rgba(231, 76, 60, 0.1); /* Aplica um fundo vermelho bem claro e transparente */
    padding: 5px; /* Add pequeno espaçamento interno*/
    border-radius: 4px; /* Arredonda as bordas do fundo */
}

/* ID #importante */
#importante {
    border-top: 4px solid #9b59b6; /* Add borda superior roxa e espessa */
    padding-top: 10px; /* Add espaçamento acima do texto */
    margin-top: 10px;  /* Add uma margem para separar do título h2 */
}