body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Remove margem padrão do navegador */
    background-color: #f0f0f0; /* Cor de fundo suave para a página inteira */
}

/* Estilos para o Cabeçalho (Header) */
header {
    background-color: #2c3e50; /* Cor fundo: azul escuro */
    color: #ecf0f1;  /* Cor texto: branco */
    
    /* Box */
    padding: 20px;   /* Espaçamento interno, 20 pixels = todos os lados */
    margin-bottom: 15px;    /* Margem inferior */
    border-bottom: 5px solid #e74c3c; /* Borda inferior vermelha */
}

/* Estilos -> Main */
main {
    background-color: #ffffff;  /* Cor fundo: branco */
    color: #34495e;    /* Cor texto: cinza escuro */

    /* Box Model */
    padding: 25px;             /* Espaçamento interno maior */
    margin: 0 10px 15px 10px;
    border: 1px dashed #bdc3c7; /* Borda cinza claro */
}

/* Estilos Seções dentro do Main */
main section {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px; /* Espaço entre "Missão" e "Visão" */
}

main section:last-child {
    margin-bottom: 0; /* Remove a margem da última seção para alinhar com o padding do main */
}

/* Estilos para o Rodapé (Footer) */
footer {
    background-color: #34495e; /* Cor fundo: cinza escuro */
    color: #bdc3c7;     /* Cor texto: cinza claro */
    text-align: center;    /* Centraliza o texto copyright */

    /* Box Model */
    padding: 15px;             /* Espaçamento inte. */
    margin-top: 15px;          /* Margem superior para separar do main */
    border-top: 5px solid #3498db;   /* Borda superior azul */
}

/* Estilos para os títulos  */
h1, h2 {
    color: #2980b9; /* Cor azul para os títulos */
}

header h1 {
    color: #ecf0f1; /* H1 no header seja claro */
}